<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SunLab</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SunLab2.styles.css" asp-append-version="true" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/stepChartScript.js" asp-append-version="true"></script>
    <script src="js/weightChartScript.js" asp-append-version="true"></script>
    <script src="js/heightChartScript.js" asp-append-version="true"></script>
    <script src="js/site.js" asp-append-version="true"></script>


</head>
<body>
    <div id="message"></div>
    @await Html.PartialAsync("WelcomePage")
    @await Html.PartialAsync("Navigation")
    @await Html.PartialAsync("ActivityPage")
    @await Html.PartialAsync("HealthPage")
    @RenderBody()

    <div class="ggg">
    </div>
</body>
</html>