@font-face {
    font-family: 'Marmelad';
    src: url('/assets/fonts/Marmelad.ttf') format('truetype'); /* Укажите правильный путь к файлу */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Marmelad', sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 100vh; /* Задаем высоту на весь экран */
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none; /* Скрыть ползунок */
}

.ggg {
    height: 1500px;
}
