.healthPage {
    position: relative;
    margin-top: 100px;
    text-align: center;
    color: rgba(115, 114, 114, 0.75);
    width: 100%;
    min-height: 450px;
}

p{
    margin: 0;
}

.healthPageName {
    /*color: var(--tg-theme-text-color);*/
    transition: 0.5s ease;
}

button,
.diseasesWriter,
.analiseWriter,
.symptom,
.entity,
.endButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-right: 10px;
    height: 45px;
    border-radius: 12px;
    border-width: 0;
    background: rgba(96, 96, 96, 0.5);
    color: var(--tg-theme-bg-color);
    transition: 0.5s ease;
    opacity: 1;
    font-size: 23px;
    animation: fadeIn 0.5s ease;
}

.analiseWriter{
    display: block;
}

/*Описание кнопок раздела Health*/
.healthButtons{
    margin: 20px;
    margin-top: 0;
}

.upContainer {
    display: flex;
    height: 200px;
}

.viralDiseasesButton {
    width: 50%; /* Ширина кнопки */
    background-color: rgba(139, 75, 188, 0.75);
    height: 100%; /* Высота кнопки */
    margin-left: 0; /* Сдвиг кнопки влево */
    border-radius: 12px;
    transition: 0.7s ease;
    opacity: 1;
    border: none; /* Убираем рамку */
    position: relative;
    overflow: hidden; /* Обрезаем содержимое, выходящее за пределы */
    justify-content: end;
    align-items: start;
}

.viralDiseasesButton img {
    position:absolute;
    object-fit: cover; /* Обрезаем изображение для заполнения области */
}

.viralDiseasesButton p{
    position:absolute;
    color: white;
    bottom: 0;
    font-size: 27px;
    font-weight: bold;
    margin: 0;
    right: 10px;
    text-align: right;
}

.rightContainer {
    width:50%;
    display: flex;
    flex-direction: column;
}

.chronicDiseasesButton {
    width: 100%;
    height: 125px;
    background-color: rgba(190,75,75,0.75);
    margin-bottom: 10px;
    border-radius: 12px;
    transition: 0.7s ease;
    border-width: 0;
    opacity: 1;
    position: relative;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}

.mentalDiseasesButton {
    width: 100%;
    height: 75px;
    background-color: rgba(78, 171, 191,0.75);
    border-radius: 12px;
    transition: 0.7s ease;
    border-width: 0;
    opacity: 1;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}

.otherButton {
    width: 100%;
    height: 50px;
    background-color: rgba(100,134,83,0.75);
    margin-top: 10px;
    border-radius: 12px;
    transition: 0.7s ease;
    border-width: 0;
    opacity: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 23px;
}

.otherButton img {
    position: absolute;
    object-fit: cover;
}


/*Описание раздела вирусных заболеваний*/
.diseases {
    margin-left: 20px;
    margin-right: 20px;
    display: none;
    width: calc(100% - 40px);
}

.ButtonsContainer,
.diseasesWriterButtons,
.analiseWriterButtons{
    position: relative;
    display: flex;
    opacity: 0;
}

.diseasesWriterButtons,
.analiseWriterButtons{
    opacity: 1;
}



.startVirusDiseaseButton,
.checkMyDiseasesHistoryButton,
.addChronicDiseaseButton,
.addMentalDiseaseButton,
.addOtherDiseaseButton {
    margin-right: 0;
    width: 100%;
    background-color: rgba(139, 75, 188, 0.75);
}

.checkMyDiseasesHistoryButton {
    background: rgba(96, 96, 96, 0.5);
}

.addChronicDiseaseButton {
    background-color: rgba(190,75,75,0.75);
}

.addMentalDiseaseButton {
    background-color: rgba(78, 171, 191,0.75);
}

.addOtherDiseaseButton {
    background-color: rgba(100,134,83,0.75);
}

.CalmContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.calmingButton,
.diseasesHistoryButton,
.moodTrackerButton,
.diseasesWriter,
.analiseWriter,
.diseasesWriterNext,
.diseasesWriterAdd,
.symptom,
.therapy,
.endButton {
    margin-top: 10px;
    height: 45px;
    transition: 1s ease;
    margin-left: 10px;
    width: calc(100% - 20px);
    opacity: 0;
}

.calmingButton,
.moodTrackerButton {
    opacity: 1;
}

.moodTrackerButton {
    transition: 0.5s ease;
}
.entity,
.analiseWriter {
    margin-top: 10px;
    height: 45px;
    transition: 1s ease;
    margin-left: 20px;
    width: calc(100% - 40px);
}

.analiseWriter {
    opacity: 1;
    height: auto;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px); /* Начальная позиция */
    }

    to {
        opacity: 1;
        transform: translateY(0); /* Конечная позиция */
    }
}

.symptom,
.entity,
.endButton {
    opacity: 1;
    transition: 0.5s ease;
    animation: fadeIn 0.5s ease;
}

.diseasesWriterNext{
    margin-left: 0;
    width: 40%;
    display: none;
}

.diseasesWriterNext,
.diseasesWriterAdd {
    opacity: 1;
    animation: none;
}
.diseasesWriter {
    height: auto;
    display: block;
    padding-bottom: 10px;
    transition: 0.5s ease;
}

.diseasesWriter p {
    margin: 0;
    text-align: left;
    margin-left: 15px;
}

.diseasesWriterInput {
    border: 2px solid var(--tg-theme-bg-color);
    background: none;
    border-radius: 12px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    width: calc(100% - 20px);
    font-size: 23px;
    color: var(--tg-theme-bg-color);
}

.diseasesWriterInput:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: none; /* Убираем тень (если есть) */
}

.diseasesWriterContainer{
    display: none;
}

button p,
.symptom p,
.entity p,
.endButton p {
    font-size: 23px;
    text-align: center;
    margin: 0;
    transition: 0.5s ease;
}

.virusImage {
    float: left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.aboutViralDiseasesText {
    font-size: 15px;
    text-align: justify;
    margin: 0;
}

.aboutViralDiseases {
    margin: 10px;
    transition: 0.5s ease;
    opacity: 0;
}





.calmingInstructor{
    transition: 1s ease;
    text-align: center;
    height: 0;
    opacity: 0;
    margin: 0;
}

.MoodTrackerContainer,
.moodsRowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MoodsContainer {
    margin-top: 10px;
    display: none;
    transition: 1s ease;
    height: 170px;
    padding: 0;
}

.moodDataGrid {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 элементов в ряду */
    gap: 10px; /* Промежутки между элементами */
    margin-top: 20px;
    width: 455px;
    text-align: center;
    height: 260px;
    opacity: 0; /* Начальная прозрачность */
    visibility: hidden; /* Скрываем элемент */
    transition: opacity 0.5s ease, visibility 0s 0.5s;}

.moodDataGrid.visible {
    opacity: 1; /* Полная видимость */
    visibility: visible; /* Делаем элемент видимым */
    transition: opacity 0.5s ease; /* Плавный переход для opacity */
}

.image-button {
    margin: 0;
    padding: 0;
    width: 50px;
    cursor: pointer; /* Указатель при наведении */
    border: none; /* Убираем границу */
    background-color: transparent; /* Прозрачный фон */
    opacity: 0; /* Начальная прозрачность */
    visibility: hidden; /* Скрываем элемент */
    transition: opacity 1s ease, visibility 0s 1s;
}

.image-button.show {
    opacity: 1; /* Полная видимость */
    visibility: visible; /* Делаем элемент видимым */
    transition: opacity 1s ease; /* Плавный переход для opacity */
}

.image-button img {
    margin: 0;
    width: 50px; /* Ширина изображения на всю ячейку */
    height: 50px; /* Автоматическая высота для сохранения пропорций */
}


.image-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* По умолчанию 4 колонки */
    gap: 10px; /* Промежутки между элементами */
}

/* Для второго ряда, который содержит только 3 элемента */
#dataGrid2 {
    grid-template-columns: repeat(4, 1fr); /* 3 колонки для второго ряда */
}

/* Для остальных рядов, если нужно изменить количество колонок */
#dataGrid1,
#dataGrid3 {
    grid-template-columns: repeat(5, 1fr); /* 4 колонки для первого и третьего ряда */
}

.severityTypesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: 0.5s ease;
    height: 45px;
    animation: fadeIn 0.5s ease;
}

.severity {
    opacity: 1;
    margin-right: 5px;
    margin-left: 5px;
    width: 90px;
}

.EasySeverity {
    background-color: rgba(100,134,83,0.7);
}

.MidSeverity {
    background-color: rgba(255, 207, 64, 0.7);
}

.HardSeverity {
    background-color: rgba(190,75,75,0.7);
}

.symptomsContainer {
    transition: 0.5s ease;
}

.symptomsSeverityContainer {
    display: none;
    opacity: 0;
    transition: 0.5s ease;
}

.symptomsSeverityContainer p,
.therapiesContainer  p{
    margin: 0;
    margin-top: 10px;
}

.therapy {
    margin-left: 25px;
    width: calc(100% - 50px);
    opacity: 1;
    animation: fadeIn 0.5s ease;
    transition: 0.5s ease;
}

.therapiesContainer {
    display: none;
    opacity: 0;
    transition: 0.5s ease;
}

.currentDisease p{
    margin-bottom: -10px;
}

.new {
    margin-left: 50px;
    width: calc(100% - 100px);
}

.drugTimeButtonsContainer {
    display: flex;
    margin-left: 50px;
    width: calc(100% - 100px);
}

.add {
    width: 75%;
    margin-left: 5px;
    margin-right: 5px;
}

.ok {
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
}

.drugTimeInputContainer {
    display: flex;
    margin-left: 20px;
    width: calc(100% - 40px);
}

.drugTime {
    width: 80%;
    margin-left: 5px;
    margin-right: 5px;
}

.remove {
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Увеличьте на 100% для каждого слайда */
}

.slide {
    width: 100%; /* Каждый слайд занимает 100% ширины контейнера */
    flex-shrink: 0; /* Не позволяйте слайдам сжиматься */
}

.diseaseNameInput {
    margin-top: 10px;
    width: 90%;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    font-size: 23px;
    border: none;
    text-align: center;
    background: transparent;
    color: rgba(115, 114, 114, 0.75);
}

.slide h2,
.slide p {
    margin: 10px;
}

.button-container {
    display: flex; /* Используем flexbox для размещения кнопок в строку */
    justify-content: space-between; /* Размещаем кнопки по краям контейнера */
    width: 100%; /* Ширина контейнера */
    max-width: 300px; /* Максимальная ширина контейнера (можно изменить) */
    margin: 20px auto; /* Центрируем контейнер */
    margin-bottom: -70px;
}

.Arrow {
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    opacity: 1;
    animation: none;
}

.left {
    color: rgba(115, 114, 114, 0.75);
    background-color: transparent;
    left: 10px; /* Положение стрелки влево */
    font-size: 25px;
}

.right {
    color: rgba(115, 114, 114, 0.75);
    background-color: transparent;
    right: 10px; /* Положение стрелки вправо */
    font-size: 25px;
}

.currentDisease{
    display: none;
    transition: 0.5s ease;
    opacity: 0;
}

.entityInput {
    text-align: center; /* Центрирование текста */
    border: none; /* Убираем обводку */
    outline: none; /* Убираем обводку при фокусе */
    background-color: transparent;
    color: var(--tg-theme-bg-color);
    transition: 0.5s ease;
}

.entityInput:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: none; /* Убираем тень (если есть) */
}

::placeholder {
    color: var(--tg-theme-bg-color);
}

.diseasesWriterContainer{
    transition: 0.5s ease;
}

.drugTimeInput {
    padding: 0;
    height: 40px; /* Высота input */
    background: transparent;
    border-width: 0;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Marmelad', sans-serif;
    color: var(--tg-theme-bg-color);
    transition: 1s ease-in-out;
}

.drugTimeContainer p {
    transition: 0.5s ease;
    animation: fadeIn 0.5s ease;
}

.symptomStatisticContainer {
    position: relative;
    background: rgba(96, 96, 96, 0.25);
    margin: 25px;
    margin-top: 10px;
    border-radius: 15px;
    transition: 0.7s ease-in-out;
    animation: fadeIn 0.5s ease;
}

.symtomChart {
    position: absolute;
    z-index: 0;
    margin: 5px;
    transition: 0.6 ease-in-out;
}

.analiseWriterNext{
    animation: none;
}

#healthAdvices {
    margin-top: 15px;
    display: flex;
    opacity: 1;
    transition: 0.7s ease;
}

#healthAdvices button{
    margin: 0;
    padding: 0;
    width: 50px;
    cursor: pointer; /* Указатель при наведении */
    border: none; /* Убираем границу */
    background-color: transparent; /* Прозрачный фон */
    opacity: 1; /* Начальная прозрачность */
    animation: fadeIn 0.5s ease;
    flex-shrink: 0;
}

#healthAdvices p{
    margin: 0;
    text-align: left;
    animation: fadeIn 0.5s ease;
    margin-left: 10px;
    margin-right: 10px;
}