<div class="healthPage">
    <h2 class="healthPageName">Здоровье</h2>

    <div class="healthButtons">
        <div class="upContainer">
            <button class="viralDiseasesButton">
                <img src="~/assets/images/Virus -21.png" width="300px" height="300px" alt="Virus Image"> 
                 @* <p>Вирусные<br/>Болезни</p> *@
            </button>

            <div class="rightContainer">
                <button class="chronicDiseasesButton">
                    <img src="~/assets/images/chronicButton3.png" width="200px">
                </button>

                <button class="mentalDiseasesButton">
                    <img src="~/assets/images/mentalButton4.png" width="110px">
                </button>
            </div>
        </div>

        @* <button class="otherButton"> Другое
             <img src="~/assets/images/otherButton2.png" width="250px">
        </button> *@
    </div>

    <div class="diseases viralDiseases">
        <div class="ButtonsContainer virusButtonsContainer">
            <button class="backButton virusBackButton" onclick="showAllHealthButtons('virus')">Назад</button>
            <button class="startVirusDiseaseButton" onclick="startDisease('virus')">
                <p>Начать</p>
            </button>
        </div>

        <div class="diseasesWriterContainer">
            <div class="diseasesWriter">
                <p>Введите название заболевания:</p>
                <input class="diseasesWriterInput" type="text" onfocus="inputClick()"/>
                <div class="diseasesWriterButtons">
                    <button class="diseasesWriterAdd" onclick="WriterAdd('virus')">Добавить</button>
                    <button class="diseasesWriterNext" onclick="WriterNext('virus')">Далее</button>
                </div>
            </div>

            <div class="symptomsContainer">
                @* <div class="symptom">Symptom</div> *@
            </div>

            <div class="symptomsSeverityContainer">
                <p>Выберите тяжесть каждого симптома</p>
                @* <div class="symptom">Symptom</div>
                <div class="severityTypesContainer">
                    <button class="severity WeaklySeverity">Easy</button>
                    <button class="severity MediumSeverity">Mid</button>
                    <button class="severity StronglySeverity">Hard</button>
                </div> *@
            </div>

            <div class="therapiesContainer">
                <p>Выберите ваши методы лечения</p>
                <button class="therapy" onclick="addRemoveTherapy('Снятие симптомов', this, 'virus')">Снятие симптомов</button>
                <button class="therapy" onclick="addRemoveTherapy('Противовирусные', this, 'virus')">Противовирусные</button>
                <button class="therapy" onclick="addRemoveTherapy('Иммуностимуляция', this, 'virus')">Иммуностимуляция</button>
                <button class="therapy" onclick="addRemoveTherapy('Вакцинация', this, 'virus')">Вакцинация</button>
                <button class="therapy" onclick="addRemoveTherapy('Поддержка тела', this, 'virus')">Поддержка тела</button>

                <button class="endButton" onclick="WriterNext('virus')">Закончить</button>
            </div>

            <div class="drugsContainer">
                @* <div class="symptom">Drug</div> *@
            </div>
        </div>

        <button class="symptom" id="virusPapers">Статьи с советами</button>

        <div class="currentDisease">
            <div class="symptom virusDiseaseName">diseaseName</div>
            <div class="button-container">
                <button class="Arrow left" id="prevBtn">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15 18l-6-6 6-6" fill="none" stroke="currentColor" stroke-width="2" />
                    </svg>
                </button>
                <button class="Arrow right" id="nextBtn">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M9 18l6-6-6-6" fill="none" stroke="currentColor" stroke-width="2" />
                    </svg>
                </button>
            </div>
            <div class="slider">
                <div class="slides" id="virusSlidesContainer">
                    <div class="slide symptomsSlide">
                        @* <p>Symptoms:</p>
                        <div class="entity">symptom1</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide therapiesSlide">
                        @* <p>Therapies:</p>
                        <div class="entity">therapy1</div>
                        <div class="entity">therapy2</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide drugsSlide">
                        @* <p>Drugs:</p>
                        <div class="entity">drug1</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide analiseSlide">
                         <p>Анализы:</p>
                        <div id="myVirusAnaliseContainer">
                            @*<div class="analiseWriter">
                                <p>Введите параметр:</p>
                                <div class="analiseWriterButtons">
                                    <input class="diseasesWriterInput" type="text" onfocus="inputClick()" />
                                    <button class="analiseWriterNext">ОК</button>
                                </div>
                            </div> *@
                            <button class="entity new" onclick="showAnaliseTypes('virus')">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* <div class="drugTimeContainer">
            <p>Укажите время приёма лекарства:</p>
            <div class="drugTimeInputContainer">
                <div class="entity drugTime" id="drugTime">
                    <input type="time" class="drugTimeInput" value="22:00">
                </div>
                <button class="entity remove">X</button>
            </div>
            <div class="drugTimeButtonsContainer">
                <button class="entity add">Дополнить</button>
                <button class="entity ok">ОК</button>
            </div>
        </div> *@

        @* <div class="symptom">Symptom</div> *@

        @* <div class="symptomStatisticContainer">
            <canvas id="symtomChart"></canvas>
        </div> *@

        @* <p style="margin-top: 20px">Статьи по вирусным заболеваниям</p>
        <button class="paper">
            <img src="~/assets/images/paper.jpg" height="250px">
            <p>Как составить<br/>Чек-лист к доктору</p>
            </button> *@           
        
    </div>

    <div class="diseases chronicDiseases">
        <div class="ButtonsContainer chronicButtonsContainer">
            <button class="backButton chronicBackButton" onclick="showAllHealthButtons('chronic')">Назад</button>
            <button class="addChronicDiseaseButton" onclick="startDisease('chronic')">
                <p>Начать</p>
            </button>
        </div>

        <div class="diseasesWriterContainer" id="chronicDiseasesWriterContainer">
            <div class="diseasesWriter" id="chronicDiseasesWriter">
                <p>Введите название заболевания:</p>
                <input class="diseasesWriterInput" id="chronicDiseasesWriterInput" type="text" onfocus="inputClick()" />
                <div class="diseasesWriterButtons" id="chronicDiseasesWriterButtons">
                    <button class="diseasesWriterAdd" id="chronicDiseasesWriterAdd" onclick="WriterAdd('chronic')">Добавить</button>
                    <button class="diseasesWriterNext" id="chronicDiseasesWriterNext" onclick="WriterNext('chronic')">Далее</button>
                </div>
            </div>

            <div class="symptomsContainer" id="chronicSymptomsContainer">
            </div>

            <div class="symptomsSeverityContainer" id="chronicSymptomsSeverityContainer">
                <p>Выберите тяжесть каждого симптома</p>
            </div>

            <div class="therapiesContainer" id="chronicTherapiesContainer">
                <p>Выберите ваши методы лечения</p>
                <button class="therapy" onclick="addRemoveTherapy('Фармакология', this, 'chronic')">Фармакология</button>
                <button class="therapy" onclick="addRemoveTherapy('Операции', this, 'chronic')">Операции</button>
                <button class="therapy" onclick="addRemoveTherapy('Физиотерапии', this, 'chronic')">Физиотерапии</button>
                <button class="therapy" onclick="addRemoveTherapy('Технологии', this, 'chronic')">Технологии</button>

                <button class="endButton" id="chronicEndButton" onclick="WriterNext('chronic')">Закончить</button>
            </div>

            <div class="drugsContainer" id="chronicDrugsContainer">
                @* <div class="symptom">Drug</div> *@
            </div>
        </div>

        <button class="symptom" id="myChronicDiseases" onclick="showMyDiseases('chronic')">Мои болезни</button>
        <div id="myChronicDiseasesContainer"></div>

        <div class="currentDisease" id="currentChronicDisease">
            <div class="symptom chronicDiseaseName">diseaseName</div>
            <div class="button-container">
                <button class="Arrow left" id="chronicPrevBtn">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15 18l-6-6 6-6" fill="none" stroke="currentColor" stroke-width="2" />
                    </svg>
                </button>
                <button class="Arrow right" id="chronicNextBtn">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M9 18l6-6-6-6" fill="none" stroke="currentColor" stroke-width="2" />
                    </svg>
                </button>
            </div>
            <div class="slider">
                <div class="slides" id="chronicSlidesContainer">
                    <div class="slide chronicSymptomsSlide">
                        @* <p>Symptoms:</p>
                        <div class="entity">symptom1</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide chronicTherapiesSlide">
                        @* <p>Therapies:</p>
                        <div class="entity">therapy1</div>
                        <div class="entity">therapy2</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide chronicDrugsSlide">
                        @* <p>Drugs:</p>
                        <div class="entity">drug1</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide analiseSlide">
                        <p>Анализы:</p>
                        <div id="myChronicAnaliseContainer">

                            <button class="entity new" onclick="showAnaliseTypes('chronic')">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="diseases mentalDiseases">
        <div class="ButtonsContainer mentalButtonsContainer">
            <button class="backButton mentalBackButton" onclick="showAllHealthButtons('mental')">Назад</button>
            <button class="addMentalDiseaseButton" onclick="startDisease('mental')">
                <p>Начать</p>
            </button>
        </div>

        <div class="diseasesWriterContainer" id="mentalDiseasesWriterContainer">
            <div class="diseasesWriter" id="mentalDiseasesWriter">
                <p>Введите название заболевания:</p>
                <input class="diseasesWriterInput" id="mentalDiseasesWriterInput" type="text" onfocus="inputClick()" />
                <div class="diseasesWriterButtons" id="mentalDiseasesWriterButtons">
                    <button class="diseasesWriterAdd" id="mentalDiseasesWriterAdd" onclick="WriterAdd('mental')">Добавить</button>
                    <button class="diseasesWriterNext" id="mentalDiseasesWriterNext" onclick="WriterNext('mental')">Далее</button>
                </div>
            </div>

            <div class="symptomsContainer" id="mentalSymptomsContainer">
            </div>

            <div class="symptomsSeverityContainer" id="mentalSymptomsSeverityContainer">
                <p>Выберите тяжесть каждого симптома</p>
            </div>

            <div class="therapiesContainer" id="mentalTherapiesContainer">
                <p>Выберите ваши методы лечения</p>
                <button class="therapy" onclick="addRemoveTherapy('Фармакология', this, 'mental')">Фармакология</button>
                <button class="therapy" onclick="addRemoveTherapy('Операции', this, 'mental')">Операции</button>
                <button class="therapy" onclick="addRemoveTherapy('Физиотерапии', this, 'mental')">Физиотерапии</button>
                <button class="therapy" onclick="addRemoveTherapy('Технологии', this, 'mental')">Технологии</button>

                <button class="endButton" id="mentalEndButton" onclick="WriterNext('mental')">Закончить</button>
            </div>

            <div class="drugsContainer" id="mentalDrugsContainer">
                @* <div class="symptom">Drug</div> *@
            </div>
        </div>

        <div class="CalmContainer">
            <button class="calmingButton" onclick="calming()">
                <p>Дыхание</p>
            </button>
        </div>

        <button class="moodTrackerButton" onclick="showMoods()">
            <p>Настроение сегодня</p>
        </button>

        <div class="MoodsContainer">
            <div class="moodsRowContainer">
                <div class="image-grid" id="dataGrid1">
                    <button class="image-button" onclick="createMoodTracker('happy2')">
                        <img src="/assets/images/happy2.png" alt="Happy 1">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('bigSmile1')">
                        <img src="/assets/images/bigSmile1.png" alt="Big Smile">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('smile1')">
                        <img src="/assets/images/smile1.png" alt="Smile">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('cool2')">
                        <img src="/assets/images/cool2.png" alt="Cool 1">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('kiss1')">
                        <img src="/assets/images/kiss1.png" alt="Kiss">
                    </button>
                </div>
            </div>

            <!-- Второй ряд с 4 элементами -->
            <div class="moodsRowContainer">
                <div class="image-grid" id="dataGrid2">
                    <button class="image-button" onclick="createMoodTracker('sleepy1')">
                        <img src="/assets/images/sleepy1.png" alt="Sleepy">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('surprised1')">
                        <img src="/assets/images/surprised1.png" alt="Surprised">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('confused1')">
                        <img src="/assets/images/confused1.png" alt="Confused">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('crying1')">
                        <img src="/assets/images/crying1.png" alt="Crying">
                    </button>
                </div>
            </div>


            <!-- Третий ряд с 5 элементами -->
            <div class="moodsRowContainer">
                <div class="image-grid" id="dataGrid3">
                    <button class="image-button" onclick="createMoodTracker('sick1')">
                        <img src="/assets/images/sick1.png" alt="Sick">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('cursing1')">
                        <img src="/assets/images/cursing1.png" alt="Cursing">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('devil1')">
                        <img src="/assets/images/devil1.png" alt="Devil">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('clown1')">
                        <img src="/assets/images/clown1.png" alt="Clown">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('skull1')">
                        <img src="/assets/images/skull1.png" alt="Skull">
                    </button>
                </div>
            </div>
        </div>

        <div class="MoodTrackerContainer">
            <div class="moodDataGrid"></div>
        </div>

        <p class="calmingInstructor">Расслабьтесь и устройтесь поудобнее</p>

        <button class="symptom" id="myMentalDiseases" onclick="showMyDiseases('mental')">Мои болезни</button>
        <div id="myMentalDiseasesContainer"></div>

        <div class="currentDisease" id="currentMentalDisease">
            <div class="symptom mentalDiseaseName">diseaseName</div>
            <div class="button-container">
                <button class="Arrow left" id="mentalPrevBtn">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15 18l-6-6 6-6" fill="none" stroke="currentColor" stroke-width="2" />
                    </svg>
                </button>
                <button class="Arrow right" id="mentalNextBtn">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M9 18l6-6-6-6" fill="none" stroke="currentColor" stroke-width="2" />
                    </svg>
                </button>
            </div>
            <div class="slider">
                <div class="slides" id="mentalSlidesContainer">
                    <div class="slide mentalSymptomsSlide">
                        @* <p>Symptoms:</p>
                        <div class="entity">symptom1</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide mentalTherapiesSlide">
                        @* <p>Therapies:</p>
                        <div class="entity">therapy1</div>
                        <div class="entity">therapy2</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide mentalDrugsSlide">
                        @* <p>Drugs:</p>
                        <div class="entity">drug1</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide analiseSlide">
                        <p>Анализы:</p>
                        <div id="myMentalAnaliseContainer">
                            <button class="entity new" onclick="showAnaliseTypes('mental')">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="diseases otherDiseases">
        <div class="ButtonsContainer otherButtonsContainer">
            <button class="backButton otherBackButton" onclick="showAllHealthButtons('other')">Назад</button>
            <button class="addOtherDiseaseButton">
                <p>Начать</p>
            </button>
        </div>
    </div>
</div>
