<div class="navigation">
    <div class="anim activity">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="75" y="0" fill="rgba(139, 75, 188, 0.25)" />
                <use xlink:href="#gentle-wave" x="65" y="3" fill="rgba(139, 75, 188, 0.5)" />
                <use xlink:href="#gentle-wave" x="50" y="6" fill="rgba(139, 75, 188, 0.75)" />
            </g>
        </svg>
        <p>АКТИВНОСТЬ</p>
    </div>

    <div class="anim bodyHealth">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="65" y="0" fill="rgba(190,75,75,0.25)" />
                <use xlink:href="#gentle-wave" x="75" y="3" fill="rgba(190,75,75,0.5)" />
                <use xlink:href="#gentle-wave" x="50" y="6" fill="rgba(190,75,75,0.75)" />
            </g>
        </svg>
        <p>ЗДОРОВЬЕ</p>
    </div>

    <div class="anim healthyFood">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="65" y="0" fill="rgba(100,134,83,0.25)" />
                <use xlink:href="#gentle-wave" x="50" y="3" fill="rgba(100,134,83,0.5)" />
                <use xlink:href="#gentle-wave" x="75" y="6" fill="rgba(100,134,83,0.75)" />
            </g>
        </svg>
        <p>ЗДОРОВАЯ ЕДА</p>
    </div>

    @* <div class="anim analitics">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="50" y="0" fill="rgba(78, 171, 191,0.25)" />
                <use xlink:href="#gentle-wave" x="75" y="3" fill="rgba(78, 171, 191,0.5)" />
                <use xlink:href="#gentle-wave" x="65" y="6" fill="rgba(78, 171, 191,0.75)" />
            </g>
        </svg>
        <p>АНАЛИТИКА</p>
    </div> *@
</div>
