<div class="activityPage">
    <h2 class="activityPageName">Активность</h2>

    <div class="stepsContainer">
        <div class="stepsInfo">
            <input type="number" class="steps" maxlength="6" value="508" onfocus="inputClick()">
            <p>шаги сегодня</p>
        </div>

        <button class="stepsMoreButton" onclick="HideStepsMoreInfo()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50" fill="var(--tg-theme-bg-color)">
                <path d="M7 10l5 5 5-5H7z" />
            </svg>
        </button>
    </div>

    <div class="distInfo">
        <p class="distantion">~0.584км пройдено</p>
    </div>

    <div class="caloriesInfo">
        <p class="calories">~20ккал сожжено</p>
    </div>

    <div class="stepsMoreInfo">
        <canvas id="myChart"></canvas>
    </div>

    <p class="stepsDescription">ваша недельная активность</p>

    <div class="weightContainer">
        <div class="weightInfo">
            <p class="weightText">65</p>
            <p class="smallWeightText">кг вес сейчас</p>
        </div>

        <button class="weightMoreButton" onclick="HideWeightMoreInfo()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50" fill="var(--tg-theme-bg-color)">
                <path d="M7 10l5 5 5-5H7z" />
            </svg>
        </button>
    </div>

    <button class="addNewWeightButton" onclick="openAddWidthMenu()" disabled>Новый вес</button>

    <div class="addNewWeight">
        <div class="newWeight">
            <input type="number" class="newWeightInput" value="0" onfocus="inputClick()">
            <p>кг</p>
        </div>

        <button class="addWeight" disabled><p>+</p></button>

        <button class="back" onclick="hideAddWeightMenu()" disabled>
            <p>x</p>
        </button>
    </div>

    <div class="weightMoreInfo">
        <canvas id="weightChart"></canvas>
    </div>

    <p class="weightDescription">ваша статистика веса</p>

    <div class="heightContainer">
        <div class="heightInfo">
            <p class="heightText">183</p>
            <p class="smallHeightText">см рост сейчас</p>
        </div>
        <button class="heightMoreButton" onclick="HideHeightMoreInfo()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50" fill="var(--tg-theme-bg-color)">
                <path d="M7 10l5 5 5-5H7z" />
            </svg>
        </button>
    </div>

    <button class="addNewHeightButton" onclick="openAddHeightMenu()" disabled>Новый рост</button>

    <div class="addNewHeight">
        <div class="newHeight">
            <input type="number" class="newHeightInput" value="0" onfocus="inputClick()">
            <p>см</p>
        </div>

        <button class="addHeight" disabled><p>+</p></button>

        <button class="heightBack" onclick="hideAddHeightMenu()" disabled>
            <p>x</p>
        </button>
    </div>

    <div class="heightMoreInfo">
        <canvas id="heightChart"></canvas>
    </div>

    <p class="heightDescription">ваша статистика роста</p>

    <div class="bedTimeController">
        <input class="bedTimeCheckBox" type="checkbox">
        Уведомления отхода ко сну
        </input>
    </div>

    <div class="bedTimeContainer">
        <p>Время</p>
        <input type="time" class="bedTimeInput" value="22:00">
        <p>Cпать</p>
    </div>

    <p class="adviciesText">Рекомендации</p>

    <div class="stepsAdvicies">
        <div class="stepsIndicator"></div>
        <p class="stepsAdviciesText"> Так держать. У вас достаточно шагов на этой неделе.</p>
    </div>

    <div class="WHAdvicies">
        <div class="WHIndicator"></div>
        <p class="WHAdviciesText"> Ваш вес полностью соответствует вашему росту, и вам не о чем беспокоиться.</p>
    </div>
</div>