<div class="healthPage">
    <h2 class="healthPageName">Здоровье</h2>

    <div class="healthButtons">
        <div class="upContainer">
            <button class="viralDiseasesButton"></button>

            <div class="rightContainer">
                <button class="chronicDiseasesButton"></button>

                <button class="mentalDiseasesButton"></button>
            </div>
        </div>

        <button class="otherButton"></button>
    </div>

    <div class="diseases viralDiseases">
        <div class="ButtonsContainer virusButtonsContainer">
            <button class="backButton virusBackButton" onclick="showAllHealthButtons('virus')">Назад</button>
            <button class="startVirusDiseaseButton" onclick="startDisease()">
                <p>Начать</p>
            </button>
        </div>

        <div class="diseasesWriterContainer">
            <div class="diseasesWriter">
                <p>Введите название заболевания:</p>
                <input class="diseasesWriterInput" type="text" onfocus="inputClick()"/>
                <div class="diseasesWriterButtons">
                    <button class="diseasesWriterAdd" onclick="WriterAdd()">Добавить</button>
                    <button class="diseasesWriterNext" onclick="WriterNext()">Далее</button>
                </div>
            </div>

            <div class="symptomsContainer">
                @* <div class="symptom">Symptom</div> *@
            </div>

            <div class="symptomsSeverityContainer">
                <p>Выберите тяжесть каждого симптома</p>
                @* <div class="symptom">Symptom</div>
                <div class="severityTypesContainer">
                    <button class="severity WeaklySeverity">Easy</button>
                    <button class="severity MediumSeverity">Mid</button>
                    <button class="severity StronglySeverity">Hard</button>
                </div> *@
            </div>

            <div class="therapiesContainer">
                <p>Выберите ваши методы лечения</p>
                <button class="therapy" onclick="addRemoveTherapy('Снятие симптомов', this)">Снятие симптомов</button>
                <button class="therapy" onclick="addRemoveTherapy('Противовирусные', this)">Противовирусные</button>
                <button class="therapy" onclick="addRemoveTherapy('Иммуностимуляцияа', this)">Иммуностимуляция</button>
                <button class="therapy" onclick="addRemoveTherapy('Вакцинация', this)">Вакцинация</button>
                <button class="therapy" onclick="addRemoveTherapy('Поддержка тела', this)">Поддержка тела</button>

                <button class="endButton" onclick="WriterNext()">Закончить</button>
            </div>

            <div class="drugsContainer">
                @* <div class="symptom">Drug</div> *@
            </div>
        </div>

        <div class="currentDisease">
            <div class="symptom virusDiseaseName">diseaseName</div>
            <div class="button-container">
                <button class="Arrow left" id="prevBtn">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15 18l-6-6 6-6" fill="none" stroke="currentColor" stroke-width="2" />
                    </svg>
                </button>
                <button class="Arrow right" id="nextBtn">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M9 18l6-6-6-6" fill="none" stroke="currentColor" stroke-width="2" />
                    </svg>
                </button>
            </div>
            <div class="slider">
                <div class="slides" id="slidesContainer">
                    <div class="slide symptomsSlide">
                        @* <p>Symptoms:</p>
                        <div class="entity">symptom1</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide therapiesSlide">
                        @* <p>Therapies:</p>
                        <div class="entity">therapy1</div>
                        <div class="entity">therapy2</div>
                        <div class="entity new">New</div> *@
                    </div>

                    <div class="slide drugsSlide">
                        @* <p>Drugs:</p>
                        <div class="entity">drug1</div>
                        <div class="entity new">New</div> *@
                    </div>
                </div>
            </div>
        </div>

        @* <div class="symptom">Symptom</div> *@

        
    </div>

    <div class="diseases chronicDiseases">
        <div class="ButtonsContainer chronicButtonsContainer">
            <button class="backButton chronicBackButton" onclick="showAllHealthButtons('chronic')">Назад</button>
            <button class="addChronicDiseaseButton">
                <p>Начать</p>
            </button>
        </div>
    </div>

    <div class="diseases mentalDiseases">
        <div class="ButtonsContainer mentalButtonsContainer">
            <button class="backButton mentalBackButton" onclick="showAllHealthButtons('mental')">Назад</button>
            <button class="addMentalDiseaseButton">
                <p>Начать</p>
            </button>
        </div>

        <div class="CalmContainer">
            <button class="calmingButton" onclick="calming()">
                <p>Дыхание</p>
            </button>
        </div>
        <p class="calmingInstructor">Расслабьтесь и устройтесь поудобнее</p>


        <button class="diseasesHistoryButton">
            <p>История моих болезней</p>
        </button>

        <button class="moodTrackerButton" onclick="showMoods()">
            <p>Настроение сегодня</p>
        </button>

        <div class="MoodsContainer">
            <div class="moodsRowContainer">
                <div class="image-grid" id="dataGrid1">
                    <button class="image-button" onclick="createMoodTracker('happy2')">
                        <img src="/assets/images/happy2.png" alt="Happy 1">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('bigSmile1')">
                        <img src="/assets/images/bigSmile1.png" alt="Big Smile">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('smile1')">
                        <img src="/assets/images/smile1.png" alt="Smile">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('cool2')">
                        <img src="/assets/images/cool2.png" alt="Cool 1">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('kiss1')">
                        <img src="/assets/images/kiss1.png" alt="Kiss">
                    </button>
                </div>
            </div>

            <!-- Второй ряд с 4 элементами -->
            <div class="moodsRowContainer">
                <div class="image-grid" id="dataGrid2">
                    <button class="image-button" onclick="createMoodTracker('sleepy1')">
                        <img src="/assets/images/sleepy1.png" alt="Sleepy">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('surprised1')">
                        <img src="/assets/images/surprised1.png" alt="Surprised">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('confused1')">
                        <img src="/assets/images/confused1.png" alt="Confused">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('crying1')">
                        <img src="/assets/images/crying1.png" alt="Crying">
                    </button>
                </div>
            </div>
            

            <!-- Третий ряд с 5 элементами -->
            <div class="moodsRowContainer">
                <div class="image-grid" id="dataGrid3">
                    <button class="image-button" onclick="createMoodTracker('sick1')">
                        <img src="/assets/images/sick1.png" alt="Sick">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('cursing1')">
                        <img src="/assets/images/cursing1.png" alt="Cursing">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('devil1')">
                        <img src="/assets/images/devil1.png" alt="Devil">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('clown1')">
                        <img src="/assets/images/clown1.png" alt="Clown">
                    </button>
                    <button class="image-button" onclick="createMoodTracker('skull1')">
                        <img src="/assets/images/skull1.png" alt="Skull">
                    </button>
                </div>
            </div>
            </div>

        <div class="MoodTrackerContainer">
            <div class="moodDataGrid"></div>
        </div>
    </div>

    <div class="diseases otherDiseases">
        <div class="ButtonsContainer otherButtonsContainer">
            <button class="backButton otherBackButton" onclick="showAllHealthButtons('other')">Назад</button>
            <button class="addOtherDiseaseButton">
                <p>Начать</p>
            </button>
        </div>
    </div>
</div>
