<div class="welcomePage">
    <img src="/assets/images/WelcomePageImage.png" alt="" class="welcomePageImage">
    <p class="mainWelcomePageText">SunLab<br/>ТВОЁ ЗДОРОВЬЕ</p>
    <p class="aboutWelcomePageText">Здесь вы можете отслеживать своё здоровье<br/>и получать рекомендации по нему</p>
</div>

<div class="arrow">
    <img src="/assets/images/arrow.png" class="arrowImage">
</div>