<div class="welcomePage">
    <img src="/assets/images/WelcomePageImage.png" alt="" class="welcomePageImage">
    <p class="mainWelcomePageText">Welcome to SunLab<br/>Health App</p>
    <p class="aboutWelcomePageText">Here you can learn more about your<br/>health and get recommendations for it</p>
</div>

<div class="arrow">
    <img src="/assets/images/arrow.png" class="arrowImage">
</div>